https://www.analyticsvidhya.com/blog/2018/10/predicting-stock-price-machine-learningnd-deep-learning-techniques-python/

In [34]:
import pandas as pd
import keras
from sklearn.model_selection import train_test_split
from keras.layers import Dense, Activation
from keras.models import Sequential
from sklearn.linear_model import LinearRegression

Zunächst wird der Datensatz geladen. Anschließend wird der Datensatz in Trainings- und Testdaten aufgeteilt. Es werden 1/7 der Daten zur Validation des Modells genutzt.

In [17]:
stock_data_file = 'all_stocks_5yr.csv'
df = pd.read_csv(stock_data_file)
company = 'AAL'
train, test = train_test_split(df[df['Name'] == company], test_size=1/7.0, random_state=0)
train

            date    open     high      low   close    volume Name
1046  2017-04-05  41.150  42.1300  41.0600  41.310   7012673  AAL
565   2015-05-08  49.230  49.8300  48.9300  49.040   6478195  AAL
412   2014-09-29  35.350  35.7500  34.9400  35.030   7492228  AAL
247   2014-02-03  33.950  34.4800  33.0500  33.960  21743871  AAL
397   2014-09-08  37.960  38.4000  37.9600  38.230   7348230  AAL
688   2015-11-02  46.200  46.8200  46.2000  46.470   6189311  AAL
233   2014-01-13  29.180  29.5300  28.5800  28.650  10591701  AAL
722   2015-12-21  41.350  42.4300  41.3500  42.400   6597508  AAL
953   2016-11-18  46.150  46.4900  45.6200  46.260   7795053  AAL
795   2016-04-07  38.660  39.0500  37.9100  38.360   8206668  AAL
644   2015-08-31  38.630  39.7600  38.6200  38.980  12409620  AAL
1100  2017-06-22  50.500  50.5600  48.7900  48.970   9792147  AAL
310   2014-05-05  36.080  36.7800  35.7900  36.600   5819281  AAL
1189  2017-10-27  48.410  48.8900  47.3300  47.560   8591454  AAL
638   2015-08-21  41.400  41.6000  39.7500  39.750  16241613  AAL
49    2013-04-22  15.990  16.0000  15.5000  15.520   9227100  AAL
744   2016-01-25  40.020  40.1600  38.8200  38.880  10113170  AAL
1183  2017-10-19  51.570  51.8300  49.6332  51.510   7568214  AAL
1072  2017-05-12  46.260  46.4400  45.7300  45.830   3888691  AAL
1101  2017-06-23  49.000  49.1000  48.4700  48.630  12682001  AAL
587   2015-06-10  40.210  41.2130  39.7000  40.430  15731942  AAL
465   2014-12-12  51.675  51.7000  49.9000  49.970  15364034  AAL
359   2014-07-15  43.330  43.7300  42.7800  43.700   8360710  AAL
358   2014-07-14  43.260  43.5900  42.7300  42.980   7215369  AAL
224   2013-12-30  24.870  25.2500  24.6500  24.780   8841369  AAL
856   2016-07-05  29.090  29.1600  28.1900  28.930   9467046  AAL
1030  2017-03-14  42.060  42.1000  40.8400  41.210  10208460  AAL
44    2013-04-15  16.200  16.3900  15.4700  15.590   6243400  AAL
913   2016-09-23  35.300  35.6700  34.9600  35.550   4603182  AAL
1028  2017-03-10  43.460  43.9500  42.9700  43.900   6842316  AAL
...          ...     ...      ...      ...     ...       ...  ...
659   2015-09-22  42.770  43.0800  40.9200  41.190  12483661  AAL
797   2016-04-11  38.790  39.5500  38.6700  38.730   7932341  AAL
1236  2018-01-05  52.780  52.8388  52.4300  52.650   2967756  AAL
1201  2017-11-14  45.300  45.9700  45.2700  45.810   1827200  AAL
99    2013-07-02  16.780  16.7900  16.3600  16.430   4009300  AAL
850   2016-06-24  28.200  28.5000  27.0400  27.050  36049898  AAL
448   2014-11-18  43.755  45.4600  43.7550  45.050  14219440  AAL
755   2016-02-09  34.930  36.7500  34.9100  36.190  11143254  AAL
976   2016-12-22  49.350  49.4500  48.4600  48.690   3618731  AAL
115   2013-07-25  18.490  18.8500  18.3000  18.830   9851900  AAL
777   2016-03-11  41.890  42.5000  41.7000  42.470   5701486  AAL
72    2013-05-23  17.480  18.4500  17.4400  18.190   7482400  AAL
845   2016-06-17  29.100  29.5500  28.8500  29.340  15301910  AAL
537   2015-03-30  53.240  53.8400  53.0500  53.640   8167282  AAL
849   2016-06-23  30.250  30.4900  29.7700  30.330   9139949  AAL
174   2013-10-17  20.720  21.0600  20.6400  21.000   4487000  AAL
87    2013-06-14  16.960  17.2500  16.8100  16.930   2572500  AAL
551   2015-04-20  48.610  49.7800  47.9100  49.760   9523520  AAL
705   2015-11-25  41.350  41.5000  40.9600  41.310   4276646  AAL
314   2014-05-09  37.960  38.7000  37.9100  38.260   9704405  AAL
600   2015-06-29  40.770  41.3200  39.5900  39.750  17651705  AAL
1094  2017-06-14  49.640  49.7801  48.8900  49.390   4027798  AAL
599   2015-06-26  42.440  42.5800  41.3300  41.440   9819882  AAL
277   2014-03-18  37.750  38.0400  37.0900  37.350   5716947  AAL
1033  2017-03-17  42.000  42.2140  41.6000  41.720  10185798  AAL
763   2016-02-22  40.140  40.9300  40.0700  40.840   9997306  AAL
835   2016-06-03  31.590  31.6000  30.3700  30.810  12424133  AAL
1216  2017-12-06  49.390  49.8100  49.1900  49.610   2835542  AAL
559   2015-04-30  48.500  49.4600  48.0100  48.285   9400367  AAL
684   2015-10-27  46.410  46.6900  45.6500  46.460   6824082  AAL

[1079 rows x 7 columns]

Nun wird das Neuronale-Netz aufgebaut. Es handelt sich hierbei um ein fully-connected Netz mit zwei Hidden-Layern. Die Hidden-Layer nutzen als Aktivierungsfunktion jeweils die ReLu-Funktion, während der Output-Layer zur Klassifizierung die Sigmoid-Funktion nutzt. Die Anzahl der Input-Neuronen entspricht der Anzahl der Pixel im Bild.

In [29]:
model = Sequential()
model.add(Dense(len(df.columns), input_dim=len(df.columns), activation='relu'))
#model.add(Dense(8, activation='relu'))
#model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_17 (Dense)             (None, 7)                 56
=================================================================
Total params: 56
Trainable params: 56
Non-trainable params: 0
_________________________________________________________________

In [30]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [31]:
#model.fit(test, train, epochs=10, batch_size=1)

ValueError: Input arrays should have the same number of samples as target arrays. Found 180 input samples and 1079 target samples.

In [35]:
model = LinearRegression()
model.fit(train,test)

ValueError: invalid literal for float(): 2017-04-05

In [ ]:
#make predictions and find the rmse
preds = model.predict(x_valid)